.RaToolbar-defaultToolbar-98 ,.RaToolbar-defaultToolbar-65,.RaToolbar-defaultToolbar-61 ,.RaToolbar-defaultToolbar-58,.RaToolbar-defaultToolbar-94,.RaToolbar-defaultToolbar-96,.RaToolbar-defaultToolbar-57,.RaToolbar-defaultToolbar-71{
    visibility: hidden;
}

.RaAppBar-toolbar-12{
    background-color: lightgreen;
}
.RaLoadingIndicator-loadedIcon-18{
    visibility: hidden;
    

}
